@import '../bower_components/foundation/scss/normalize.scss';
@import '../bower_components/foundation/scss/foundation.scss';
@import '../bower_components/retina.js/src/_retina.scss';

@import url(http://fonts.googleapis.com/css?family=Belgrano);

body {
	@include at2x('/assets/img/background', 'png', 1024);
	background-size: 1024px auto;
	background-position: center top;
	background-repeat: no-repeat;
	height: 1325px;
	padding-top: 170px;
	font-family: 'Belgrano', serif;
}

form {
	margin-left: 25px;
	text-align: center;
	.box {
		background-color: #c2b4a3;
		h2 {
			font-family: 'Belgrano', serif;
			font-size: 18px;
			text-transform: uppercase;
			color: #27465a;
		}
		padding-bottom: 0.25em;
		margin-bottom: 1em;
	}
	#downloadCode {
		background-color: #c2b4a3;
		color: #27465a;
		text-align: center;
		border: none;
		box-shadow: none;
		line-height: 24px;
		&:focus {
			border: none;
			box-shadow: none;
		}
	}
	button {
		font-family: 'Belgrano', serif;
		color: #27465a;
		background-color: #c2b4a3;
		text-transform: uppercase;
		&:hover {
			color: #fff;
			background-color: #27465a;
		}
	}
}

h3 {
	font-family: 'Belgrano', serif;
	margin-top: 100px;
	text-transform: uppercase;
	color: #f3ea18;
	font-size: 18px;
	text-align: center;
}


@media screen and (max-width: 790px) {
	form {
		.box {
			h2 {
				font-size: 16px;
				line-height: 16px;
			}
		}
	}

	h3 {
		font-size: 16px;
	}
}


@media screen and (max-width: 400px) {
	form {
		.box {
			h2 {
				font-size: 14px;
				line-height: 14px;
			}
		}
	}

	h3 {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px) {
	form {
		.box {
			h2 {
				font-size: 10px;
				line-height: 10px;
			}
		}
	}

	h3 {
		font-size: 10px;
	}
}
